// Colours needed for the site
$greenish: #9ab4b3;
$gray: #e5e5e5;
$darkGray: darken($gray, 20);
$blue: #99bcdf;
$white: #fff;
$black: #000;

// reset some browser stuff
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// basic layout - mobile base line
.navBar {
    position: relative;
    top: 379px;
    background: $white;
    border-top: 2px solid $gray;
    padding-top: 4px;
    display: flex;
    
    &-icons {
        text-indent: -99999px;
        // &_search {

        // }
        // &_basket {

        // }
    }
    &-links {
        text-align: center;
        flex-grow: 1;
        font-size: .6rem;
        color: $black;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.heroImage {
    text-align: center;
    background: #ffdce0; // image pink
    img {
        width: 375px;
    }
}

.heroText {
    width: 100vw;
    position: absolute;
    top: 36px;
    left: 0;
    color: $black;
    text-align: center;
    span {
        font-size: .9rem;
        font-style: italic;
        display: block;
        width: 100vw;
    }
}

.ctaImages {
    width: 342px;
    margin: 40px auto;
    &-section {
        height: 400px;
        margin-bottom: 30px;
        img {
            height: 400px;
            width: 342px;
            object-fit: cover;
        }
    }
    &-textBlock {
        width: 300px;
        height: 100px;
        margin: 0 auto;
        padding: 22px 0 0;
        text-align: center;
        background: $white;
        color: $darkGray;
        border: 1px solid $gray;
        outline: 5px solid $white;
        position: relative;
        top: -130px;
        span {
            display: block;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    }
}

.favorites { // favorates?
    display: block;
    text-align: center;
    h3 {
        text-transform: uppercase;
    }
    p {
        font-style: italic;
        margin-bottom: 50px;
    }
    &-saleItem {
        margin-bottom: 20px;
        img {
            width: 256px;
            height: 256px;
            object-fit: cover;
        }
        &_sale {
            &::after {
                content: "Sale";
                display: block;
                width: 50px;
                height: 50px;
                background: $black;
                color: $white;
                border-radius: 50%;
                font-style: italic;
                margin: 0 auto;
                padding-top: 13px;
                position: relative;
                top: -325px;
                left: 0;
            }
        }
    }
    &-name {
        text-transform: uppercase;
    }
    &-price {
        color: $darkGray;
        &::before {
            content: "£";
        }
        &_was {
            display: inline-block;
            margin-right: 20px;
            text-decoration: line-through;
        }
        &_now {
            display: inline-block;
            color: $blue;
        }
    }
}

.footer {
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    color: $darkGray;
    &-links {
        color: $darkGray;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        width: 100vw;
        text-align: center;
        margin-bottom: 4px;
    }
    &-networkWrapper {
        width: 116px;
        height: 32px;
        margin: 20px auto 15px;
    }
    &-networks {
        text-indent: -99999px;
        display: block;
        float: left;
        width: 32px;
        height: 32px;
        background: $white;
        margin: 0 5px;
        &_twitter {
            margin-left: 0;
            background: url(../img/twitter.png);
        }
        &_facebook {
            background: url(../img/facebook.png);
        }
        &_instagram {
            background: url(../img/instagram.png);
            margin-right: 0;
        }
    }
    &-copyright {
        width: 100%;
        text-align: center;
        span {
            color: $black;
            display: block;
        }
    }
}


// Media querys ========================================================

// tablet
@media screen and(min-width: 1024px){
    .hero {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .navBar {
        top: 0;
        border-top: none;
        border-bottom: 2px solid $gray;
        font-size: 1rem;
    }

    .heroImage {
        width: 512px;
        margin: 0 20px;
        background: none;
        img {
            width: auto;  
        }
    }

    .heroText {
        position: relative;
        width: 512px;
        margin: 0 20px;
        top: 0;
        padding-top: 200px;
        background: $greenish;
        color: $white;
        font-size: 2rem;
        &:after {
            content: "";
            display: block;
            width: 60px;
            height: 1px;
            margin: 10px auto;
            background: $white;
        }
        span {
            font-size: 1.3rem;
            width: 100%;
        }
    }

    .ctaImages {
        display: flex;
        justify-content: center;
        &-section {
            margin-right: 17px;
        }
    }

    .favorites {
        &-saleWrapper {
            display: flex;
            justify-content: center;
        }
        &-saleItem {
            margin-right: 15px;
        }
    }

    .footer {
        &-linksWrapper {
            width: 100%;
            margin: 0 auto;
            border-bottom: 1px solid $gray;
        }
        &-links {
            display: inline-block;
            width: 252px;
            margin-bottom: 0;
        }
    }
}